# build output
dist/
dist-game/

# generated types
.astro/
server/colyseus/dist/

# dependencies
node_modules/
server/colyseus/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.local
.env.*.local
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
